h1 {font-family:verdana; color:#000; font-size:34px; margin:0 auto; width:455px;}
h2 {font-family:verdana; color:#000; font-size:20px; margin:0 auto; width:400px; text-align:center;}
canvas {margin:30px auto; width:400px; border-radius:14px; -moz-border-radius: 14px; -webkit-border-radius:14px;}